@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Lato:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(#e6e3eb, #d2ced7);
  color: #e5d9f1;
  min-height: 100vh;
}

#app {
  margin: 2rem auto;
  padding: 1rem;
  max-width: 40rem;
  text-align: center;
  border-radius: 6px;
  background: linear-gradient(#1f1d25, #17131c);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

h1 {
  letter-spacing: 0.15rem;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
}

#user {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto;
  padding: 1rem;
  border-radius: 8px;
  background: linear-gradient(#faca71, #fae571);
  color: #1f1d25;
  max-width: 20rem;
  animation: pulse 2s infinite;
}

#user h2 {
  text-transform: uppercase;
  margin: 0.25rem 0;
  font-size: 1.15rem;
  font-weight: normal;
}

#user p {
  margin: 0;
  font-size: 0.9rem;
  font-weight: bold;
  text-transform: uppercase;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(250, 229, 113, 0.7);
  }
  50% {
    box-shadow: 0 0 0 10px rgba(250, 229, 113, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(250, 229, 113, 0);
  }
}




@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Lato:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(#f6e1c4, #f3d09e);
  color: #302b23;
  min-height: 100vh;
}

#app {
  margin: 2rem auto;
  padding: 1rem;
  max-width: 40rem;
  text-align: center;
  border-radius: 6px;
  background: linear-gradient(#2a2722, #413c35);
  color: #f4e9d7;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

h1 {
  letter-spacing: 0.15rem;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

#app > p {
  margin: 0;
  color: #b3aa9c;
}

ul {
  list-style: none;
  margin: 2rem 0;
  padding: 0;
}

li {
  margin: 1rem auto;
  padding: 0.5rem;
  max-width: 20rem;
  background: #fbd9a3;
  color: #302b23;
  border-radius: 4px;
  text-align: left;
}

li h2,
li p {
  margin: 0;
}

li h2 {
  font-family: 'Lato', sans-serif;
  font-size: 0.7rem;
  text-transform: uppercase;
  color: #736957;
  margin-bottom: 0.5rem;
}

li p {
  font-size: 0.9rem;
  color: #474034;
}





@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Lato:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(#cfb3f3, #c59afa);
  color: #e5d9f1;
  min-height: 100vh;
}

#app {
  margin: 2rem auto;
  padding: 0.5rem 2rem;
  max-width: 25rem;
  text-align: center;
  border-radius: 6px;
  background: linear-gradient(#230736, #301247);
  box-shadow: 0 0 8px rgba(0,0,0,0.3);
}

h1 {
  letter-spacing: 0.1rem;
  font-size: 1.25rem;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
  color: #c7a0ee;
}

label {
  display: block;
  margin-bottom: 0.25rem;
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 700;
  text-align: left;
  color: #9f80bf;
}

input {
  display: block;
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  border: 1px solid #493066;
  background: #493664;
  color: #e5d9f1;
  font-size: 0.9rem;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

button {
  padding: 0.5rem 1.5rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  border: 1px solid #5812b9;
  background: #5812b9;
  color: #e5d9f1;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer;
}

button:hover {
  background: #6c1fd6;
}


#q7 body {
  font-family: sans-serif;
  margin: 0;
  padding: 3rem;
  background-color: #2d2c2c;
  color: #959090;
  text-align: center;
}

#alert {
  margin: 3rem auto;
  padding: 1rem;
  width: 15rem;
  border: 2px solid #dd3562;
  background-color: #776167;
  color: white;
}

#alert button {
  font: inherit;
  border: none;
  padding: 0.5rem 1.5rem;
  background-color: 540218;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}


body {
  font-family: sans-serif;
  margin: 0;
  padding: 3rem;
  background-color: #2d2c2c;
  color: #959090;
  text-align: center;
}

.active {
  color: red;
}



body {
  font-family: sans-serif;
  margin: 0;
  padding: 3rem;
  background-color: #2d2c2c;
  color: #959090;
  text-align: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 1rem;
  padding: 1rem;
  background-color: #8567fd;
  color: white;
  border: 2px solid #8567fd;
  border-radius: 6px;
}



#feedback {
  max-width: 30rem;
  margin: 2rem auto;
  padding: 1rem;
  background-color: #669ae7;
  color: #041023;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

#feedback p {
  margin: 0.5rem 0;
}

#feedback label {
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  color: #364660;
  font-size: 0.85rem;
  margin: 0.25rem 0;
}

#feedback input,
#feedback textarea {
  font: inherit;
  display: block;
  margin: 0 0 1rem 0;
  padding: 0.5rem;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #798aa9;
  background-color: #b4c4e6;
  color: #041023;
}

#draft {
  font-family: 'Lato', sans-serif;
  max-width: 30rem;
  margin: 2rem auto;
  padding: 1rem;
  background-color: #67d7b0;
  color: #0b3929;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  text-align: center;
}

#draft figure {
  margin: 0;
  padding: 0;
}

#draft blockquote {
  margin: 0 2rem;
  padding: 0.5rem 1rem;
  background-color: #65b69a;
  border-radius: 4px;
  color: #042217;
  font-style: italic;
}

#draft blockquote p {
  margin: 0;
}

#draft figcaption {
  margin: 0.2rem 0;
  font-size: 0.75rem;
}

#draft button {
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: none;
  background-color: #0b3929;
  color: #ecf8f4;
  font-size: 1rem;
  cursor: pointer;
}

input[type='file'] {
  display: none;
}